.header-container{
    display: flex;						 
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;  
    margin: 0 auto;
    gap: 3vw;
}

#logo{
    width: 8vw;
    height: auto;
    padding-top: 1vw;
}

#cabeçalho{
    font-size: 1vw;
    height: auto;
}

.titulo-content{
    display: flex;						 
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
}

#titulo{
    font-size: 4.5vw;   
}